body {
  font-family: Arial;
  background-color: darkgrey;
}

h1 {
  color: white;
  font-size: 23px;
  text-align: center;
}

h3 {
  color: white;
  font-size: 16px;
}

p {
  background-color: #246aae;
  color: orange;
  font-size: 16px;
  text-align: center;
}

.title, td {
  color: orange;
}

table, th, td {
  border: 2px solid white;
  text-align: center;
}

img {
  max-width:200px;
  float: left;
  margin-right: 15px;
}