/* Background */
.background {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background-text {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

/* Navbar */

.navbar-transparent {
  background-color: transparent;
  transition: all 500ms ease;
}

.navbar.scrolled {
  background-color: #FFF;
  transition: all 500ms ease;
}

.navbar-brand {
  color: #000;
  font-weight: 600;
}

.nav-item a {
  color: #000;
  font-weight: 600;
}

/* Heading */

.heading_icon-container {
    height: 64px;
    padding-top: 20px;
    padding-bottom: 55px;
}

.heading_icon {
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    color: #646262;
}

.heading_title {
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding-bottom: 20px;
}

.heading_title-line {
    position: absolute;
    height: 4px;
    bottom: 44px;
    left: 0;
    right: 0;
    width: 1%;
    z-index: 1;
    margin: 0 auto;
    background-color: #646262;
}

.heading_title-bg {
    display: inline-block;
    font-family: "Josefin-Sans";
    position: relative;
    background-color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 2;
    color: #646262;
}
